@font-face {
  font-family: 'SegoeUI Light';
  src:url('../fonts/segoeuil.ttf');
}
@font-face {
  font-family: 'SegoeUI';
  src:url('../fonts/segoeui.ttf');
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background: #EFEFEF;
  margin: 0;
  padding: 0;
}
.ContentArea {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.topNav {
  height: 60px;
  width: 100%;
  background: #fff;
}
.LogoHolder {
  background: #ce0606;
  height: 60px;
  display: inline-block;
}
.Logo {
  padding: 15px;
  color: #fff;
  font-size: 20px;
  font-family: 'SegoeUI';
  display: block;
}
.Search {
  display: inline-block;
  float: right;
  margin: 10px auto;
}
input[type="search"] {
  display: inline-block;
  width: 500px;
  height: 40px;
  outline: none;
  padding: 10px 10px 10px 10px;
  transition: all 0.1s ease-out;
  font-family: 'SegoeUI Light';
  font-size: 17px;
  border: none;
}
.mainNav {
  height: 70px;
  width: 100%;
  background: #39414f;
}
.Options {
  width: 100%;
  margin: 0 auto;
  height: 70px;
  color: #f9f9f9;
  text-align: center;
}
.Option {
  display: inline-block;
  font-size: 18px;
  font-family: 'SegoeUI';
  padding: 14px 13px 8px 13px;
  margin-left: 10px;
  vertical-align: middle;
  font-weight: bold;
}
.icon {
  text-align: center;
  width: 100%;
}
.Selected {
  background: #2d333d;
}
