.mainNav {
  height: 70px;
  width: 100%;
  background: #39414f;
  color: #f6f6f6;
}
.mainNav > ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 100%;
  text-align: center;
  font-family: 'SegoeUI';
}
.mainNav > .center {
  text-align: center;
  margin: 0 auto;
}
.mainNav > ul > li {
  display: inline-block;
  font-weight: bold;
}
.nav-item {
  display: inline-block;
  height: 40px;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  line-height: 25px;
}
.icon {
  text-align: center;
}
.nav-item:hover {
  background: #2d333d;
}
.nav-item:focus {
  background: #2d333d;
}
.nav-item:focus ~ .nav-content {
  max-height: 500px;
  transition:max-height 0.6s linear;
}
.nav-content {
  position: absolute;
  overflow: hidden;
  background: #fff;
  color: #2d333d;
  width: 180px;
  max-height: 0;
  font-weight: normal;
  font-family: 'SegoeUI';
  border-radius: 0 0 3px 3px;
  border: 0 2px 2px 2px solid #000;
}
.nav-sub {
  padding: 10px 0;
  float: left;
}
.nav-sub > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nav-sub > ul > li > a {
  display: inline-block;
  padding: 5px 8px 5px 5px;
  width: 180px;
  max-width: 180px;
  overflow:hidden;
  text-align: left;
}
.nav-sub > ul > li > a:hover {
  color: #104aa9;
  transition: 0.1s;
  background: #f9f9f9;
}
