@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

body {
    background: #232323;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
b {
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}
.dark {
  background: #424242;
  color: #dcdcdc;
  border-left: 0.2px solid #484848;
  border-right: 0.2px solid #484848;
  border-top: 0.2px solid #484848;
  border-bottom:0.2px solid #484848;
}

/* Bootstrap Controls */
.form-control[type="text"], .form-control[type="password"] {
  border-left: 0.1px solid #efefef;
  border-radius: 0;
}
.form-control[type="text"]::placeholder, .form-control[type="password"]::placeholder {
  color: inherit;
}
/* Top Menu Bar */
.TopBar {
  height: 50px;
  width: 100%;
  background: #f4f4f4;
  position: fixed;
  z-index: 1000;
}
.TopBar > .Logo {
  height: 50px;
  padding: 0 10px;
  box-sizing:border-box;
  background: #232323;
  display: inline-block;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
  color: #efefef;
}

/* Navigation Bar */
.Navigation_Bar {
  height: 70px;
  width: 100%;
  background: #191919;
  box-shadow: 0 0 20px 0 rgba(0,0,0,1);
  display: block;
  margin-top: 50px;
  position: absolute;
}
.Navigation_Bar > ul {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  text-align: center;
  height: 70px;
}
.Navigation_Bar > ul > li {
  display: inline-block;
  width: auto;
  box-sizing: border-box;
  line-height: 100px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  padding: 0 10px;
  height: 70px;
  cursor: pointer;
}
.Navigation_Bar > ul > li > a {
  display: block;
  color: #efefef;
  font-weight: 400;
  font-size: 15px;
  line-height: 0px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 10px;
}
.Navigation_Bar > ul > li.Selected {
  background: #232323;
  color: #fff;

}
.Navigation_Bar > ul > li:hover {
  background: #232323;
  color: #fff;
}
.Navigation_Bar > ul > li > a i {
  font-size: 18px;
  vertical-align: middle;
  margin-bottom: 5px;
  text-align: center;
  display: block;
  line-height: 40px;
}
.Navigation_Bar > ul > li > .Dropdown_Menu {
  display: block;
  z-index: 1000;
  height: auto;
  width: 280px;
  position: absolute;
  background: #232323;
  margin-left: -10px;
  margin-top: 15px;
  display: none;
  padding-bottom: 5px;
  border-radius: 0 0 5px 5px
}
.Navigation_Bar > ul > li > .Dropdown_Menu > a {
  display: block;
  color: #efefef;
  font-weight: 400;
  font-size: 15px;
  line-height: 0px;
  padding: 0 25px;
  line-height: 10px;
  height: 60px;
  line-height: 60px;
  text-transform:uppercase;
  text-align: left;
  border-bottom: 0.2px solid #191919;
}
.Navigation_Bar > ul > li > .Dropdown_Menu > a:hover {
  background: #191919;
}
.Navigation_Bar > ul > li:hover .Dropdown_Menu {
  display: block;
}
/* Misc Styling */
.Login_Body {
  width: 100%;
  height: 100vh;
  background:url('../img/login_bg.jpg');
  background-size: auto;
  background-repeat: no-repeat;
}
.Login_FormArea {
  width: 500px;
  height: 100vh;
  overflow: hidden;
  background: #232323;
  float: right;
  box-shadow: 0 30px 40px rgba(0,0,0,1);
}
.Login_FormArea > .Body {
  padding-top: 60px;
  display: block;
}
.Login_FormArea > .Body > img {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin: 0 auto;
}
.Login_FormArea > .Body > .Form {
  padding: 10px;
  width: 320px;
  margin: 100px auto;
  border-left: 3px solid #4c4c4c;
}
.Login_FormArea > .Footer {
  bottom: 0px;
  width: 500px;
  position: absolute;
  color: #efefef;
  text-align: center;
  display: block;
}

.Wrapper {
  width: 95%;
  height: auto;
  padding-top: 135px;
  margin: 0 auto;
}
