body {
  width: 1080px;
  height: 1920px;
  max-height: 1920px;
  max-width: 1080px;
  background: #030303!important;
  margin: 0;
  padding: 0;
  /* overflow-y: hidden; */
}
.TopBar {
  width: 100%;
  height: 50px;
  background: #262626;
}
.TopBar > .Time {
  color: #f2f2f2;
  width: 200px;
  height: 100%;
  font-size: 20px;
  font-family: 'Segoe UI Light';
  line-height: 50px;
  float: right;
  margin-right: 50px;
}
.TopBar > .WhereAmI {
  color: #f2f2f2;
  width: 400px;
  height: 100%;
  margin-left: 50px;
  font-size: 20px;
  font-family: 'Segoe UI Light';
  line-height: 50px;
  float: left;
}
.TopBar i {
  padding-right: 5px;
}
.Wrapper {
  margin-top: 100px;
  width: 80%;
  height: 1770px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.BottomWrapper {
  height: 170px;
  width: 80%;
  position: fixed;
  bottom: 0;
}
.Tiles {
  margin: 10px auto;
  width: 500px;
  height: 500px;
  background: inherit;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px
}
.Tiles img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
}
.Tiles p {
  font-family: 'Segoe UI Light';
  font-size: 20px;
  border-top: 2px solid #fff;
  margin-top: 40px;
  color: #fff;
}

.Small_Tiles {
  width: 45%;
  display: inline-block;
  margin-bottom: 10px;
}
.Small_Tiles img {
  max-width: 100%;
  height: auto;
}
/* Special */
.Box {
  width: 100%;
  height: auto;
  display: block;
  background: #1c1c1c;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
}
.Blue {
  background: blue;
}
.Green {
  background: green;
}
.Red {
  background: red;
}
.Warning {
  border-color: red !important;
}
.Kiosk_Plate_Input {
  color: #3e3e3e;
  background-color: #d7b600;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 100px;
  line-height: 110px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-left: 60px;
  padding-bottom: 10px;
  border: 5px solid #686868;
  border-radius: 15px;
  outline: none;
  width: 100%;
  &::placeholder {
    color: #eee;
  }
}
.Hide {
  display: none;
}
.Title {
  font-family: 'Segoe UI Light';
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;
  color: #f2f2f2;
}
.Button {
  height: 70px;
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #efefef;
  text-align: center;
  color: #fff;
  line-height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  margin-left: 0.7%;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Segoe UI Light';
}
.Radios {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-left: 10px;
}
label img {
  margin: 0 auto;
  display: inline-block;
  width: 245px;
  height: auto;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
  border: 5px solid #efefef;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #efefef;
  z-index: 2;
}
.Label {
  width: 250px;
  display: inline-block;
  color: #f6f6f6;
  text-align: center;
  font-size: 22px;
  margin: 0 auto;
  margin-left: 15px;
}
input[type="radio"] {
  visibility: hidden;
  padding: 0;
}
input[type="radio"]:checked + label img {
  border-color: green !important;
  background:
     /* top, transparent red */
     linear-gradient(
       rgba(93, 255, 25, 0.45),
       rgba(93, 255, 25, 0.45)
     );
}
input[type="radio"]:disabled + label img {
  background:
     /* top, transparent red */
     linear-gradient(
       rgba(255, 0, 0, 0.45),
       rgba(255, 0, 0, 0.45)
     );
  border-color: red !important;
}
.Services {
  width: 100%;
  display: block;
  height: auto;
}
.Services input[type="radio"] {
  display: block;
}
.Services input[type="radio"] + label {
  color: #f6f6f6;
  font-size: 22px;
  margin: 0 auto;
  border: 5px solid #efefef;
  width: 80%;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  padding: 10px;
  display: block;
}
.Services input[type="radio"]:checked + label {
  border-color: green !important;
  background: #efefef;
  color: #0e0e0e;
}
.Results {
  height: auto;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  color: #f2f2f2;
}
