body {
  width: 1080px;
  height: 1920px;
  max-height: 1920px;
  max-width: 1080px;
  background: #efefef;
  margin: 0;
  padding: 0;
}
.TopBar {
  width: 100%;
  height: 50px;
  background: #262626;
}
.TopBar > .Time {
  color: #f2f2f2;
  width: 200px;
  height: 100%;
  font-size: 20px;
  font-family: 'Segoe UI Light';
  line-height: 50px;
  float: right;
  margin-right: 50px;
}
.TopBar > .WhereAmI {
  color: #f2f2f2;
  width: 400px;
  height: 100%;
  margin-left: 50px;
  font-size: 20px;
  font-family: 'Segoe UI Light';
  line-height: 50px;
  float: left;
}
.TopBar i {
  padding-right: 5px;
}
.Wrapper {
  margin: 200px auto;
  width: 80%;
}
.Tiles {
  margin: 10px auto;
  width: 500px;
  height: 500px;
  background: inherit;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px
}
.Tiles img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
}
.Tiles p {
  font-family: 'Segoe UI Light';
  font-size: 20px;
  border-top: 2px solid #fff;
  margin-top: 40px;
  color: #fff;
}
/* Special */
.Blue {
  background: blue;
}
.Green {
  background: green;
}
.Red {
  background: red;
}
.Kiosk_Plate_Input {
  color: #3e3e3e;
  background-color: #d7b600;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 100px;
  line-height: 110px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-left: 60px;
  padding-bottom: 10px;
  width: 750px;
  border: 5px solid #686868;
  border-radius: 15px;
  outline: none;
  &::placeholder {
    color: #eee;
  display: block;
}
