* {
  list-style: none;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
}
body {
  background: #efefef;
}
b {
  font-family: 'Tajawal', sans-serif;
  font-weight: 700;
}
button {
  background: inherit;
  color: inherit;
  text-decoration: none;
  border: none;
  text-align: left;
  font-size: inherit;
  color: inherit;
}
/* NOTE: Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #36393d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #292929;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #292929;
}
/* NOTE: Fonts */
@import url('https://fonts.googleapis.com/css?family=Tajawal:300,400,700');
/* NOTE: Top Bar */
.topBar {
  width: 100%;
  height: 59px;
  background: inherit;
  z-index: 2;
  position: absolute;
  box-sizing: border-box;
  border-bottom: 1px #000;
}
.topContainer {
  margin-left: 224px;
  height: 59px;
  width: auto;
}
.button {
  height: 59px;
  width: auto;
  border-right: 0.5px solid #cecece;
  display: inline-block;
  line-height: 60px;
  font-size: 20px;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-left: -4px;
  color: #525252;
  cursor: pointer;
}
#Brand {
  height: 60px;
  width: 220px;
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 60px;
  box-sizing: border-box;
  background: #414447;
  box-shadow: inset 0px 0px 2px 0px #000;
  font-family: 'Tajawal', sans-serif;
  position: absolute;
}
.button:hover {
  background:#d5d5d554;
  box-sizing: border-box;
}
/* NOTE: Side Bar */
#sideBar {
  width: 220px;
  height: 100vh;
  background: #36393d;
  z-index: 1;
  position: fixed;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 2px 0px #29292996;
  font-family: 'Tajawal', sans-serif;
  display: block;
}
.navWrap {
  width: 100%;
  height: 100vh;
  margin-top: 62px;
  z-index: 2;
}
.sidenav {
  width: 220px;
  height: 100vh;
  background: #36393d;
  z-index: 1;
  position: fixed;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 2px 0px #29292996;
  font-family: 'Tajawal', sans-serif;
  overflow: hidden;
}
.userBox {
  height: 70px;
  width: 100%;
  margin-top: -2px;
  z-index: 2;
  background: #2b2d31;
}
.userInfo {
  width: 185px;
  height: 70px;
  padding-left: 20px;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  display: block;
}
.userName {
  padding-top: 4px;
  font-size: 20px;
  color: #f9f9f9;
  text-transform: uppercase;
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  display: bloc
}

.sidenav a, .dropdown-btn {
  height: 50px;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
  line-height: 50px;
  border-bottom: 0.1px solid #313131;
  display: block;
  width: 100%;
  cursor: pointer;
  outline: none;
}
.sidenav a:hover, .dropdown-btn:hover {
  background: #29292996;
  cursor: pointer;
}
.active {
  background-color: #29292996;
  color: #fff;
}
.dropdown-container {
  display: none;
  background-color: #36393d;
}
.dropdown-container  .option {
  padding-left: 30px;
  border-left: 2px solid #fff;
}
.fa-chevron-down {
  float: right;
  padding: 15px 0px
}
.sidenav i {
  color: #dadada;
  padding-right: 12px;
}
/* NOTE: Main Content */
#wrapper {
  width: 100%;
  height: auto;
  margin-top: 50px;
  position: absolute;
  padding-left: 0px;
  box-sizing: border-box;
}
.darkHead {
  width: 100%;
  height: auto;
  position: relative;
  background:url("../img/debut_dark.png");
  padding-top: 20px;
  box-sizing: border-box;
}
.StatBox {
  width: 100%;
  height: 80px;
  display: block;
  background: #4747473d;
  margin-bottom: 19px;
  box-sizing: border-box;
  border-radius: 4px;
}
.StatBox-LG {
  width: 100%;
  height: auto;
  display: block;
  background: #4747473d;
  box-sizing: border-box;
  border-radius: 4px;
}
.statText {
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 20px;
  text-align: center;
  display: block;
  margin-left: 50px;
}
.Stat {
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
  box-sizing: border-box;
  display: block;
  margin-left: 50px;
}
.statIcon {
  width: 50px;
  height: 80px;
  background: #4444447a;
  position: absolute;
  border-radius: 4px 0px 0px 4px;
  font-size: 28px;
  text-align: center;
  line-height: 80px;
  color: #dadada;
}
.box {
  padding: 0 5px 5px 5px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ececec;
}
.title {
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  color: #545454;
  font-size: 17px;
  padding: 5px 0;
}
/* NOTE: Notices */
.notice {
  width: 100%;
  height: auto;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 5px 5px;
  background: #fff;
  margin-bottom: 10px;
}
.red {
  border-bottom: 3px solid #c91717;
  height: auto;
}
.blue {
  border-bottom: 3px solid #597dfe;
  height: auto;
}
.green {
  border-bottom: 3px solid #429a26;
  height: auto;
}
.amber {
  border-bottom: 3px solid #eca233;
  height: auto;
}
.notice-text {
  width: auto;
  height: auto;
  padding: 5px;
  color: #545454;
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
}
/* NOTE: Tables */
table {
    font-family: 'Tajawal', sans-serif;
    font-weight: 300;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    color: #545454;
    overflow: hidden;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ececec;
}
/* NOTE: Buttons */
.opt-button {
  display: inline-block;
  width: auto;
  height: 30px;
  text-align: center;
  padding: 0px 9px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 30px;
  border-radius: 4px;
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
}
.red-b {
  border-bottom: 3px solid #771515;
  color: #fff;
  background: #c91717;
  cursor: pointer;
}
.red-b:hover, .red-b:focus {
  background: #b41717;
  transition:ease 0.3s;
}
.blue-b {
  border-bottom: 3px solid #3651b4;
  color: #fff;
  background: #597dfe;
  cursor: pointer;
}
.blue-b:hover, .blue-b:focus {
  background: #506ac7;
  transition:ease 0.3s;
}
.green-b {
  border-bottom: 3px solid #3b7f26;
  color: #fff;
  background: #429a26;
  cursor: pointer;
}
.green-b:hover, .green-b:focus {
  background: #518f3d;
  transition:ease 0.3s;
}
.amber-b {
  border-bottom: 3px solid #b87b1e;
  color: #fff;
  background: #eca233;
  cursor: pointer;
}
.amber-b:hover {
  background: #d99938;
  transition:ease 0.3s;
}
.twin1 {
  border-radius: 4px 0 0 4px;
  margin-left: -5px;
}
.twin2 {
  border-radius: 0 4px 4px 0;
  margin-left: -5px;
}
.btn-drop {
display: inline-block;
float: right;
}
.dropdown {
  height: auto;
  width: 160px;
  background: #fff;
  margin-right: 0;
  display: block;
  position: absolute;
}
