@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Poppins:300,400,600i&display=swap');
body {
  padding: 0;
  margin: 0;
  background: #efefef;
  -webkit-user-select: none;
  font-family: 'Segoe UI';
}
a {
  color: inherit;
  text-decoration: none;

}
a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
    margin-top: 30px;
    display: block;
}
::-webkit-scrollbar-track {
    background: #36393d;
}
::-webkit-scrollbar-thumb {
    background: #292929;
}
::-webkit-scrollbar-thumb:hover {
    background: #292929;
}
.Containment {
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
}
.TopBar {
  height: 70px;
  width: 100%;
  background: #f8f8f8;
  position: fixed;
  cursor: default;
  z-index: 999;
  border-bottom: 0.5px solid #e0e0e0;
  color: #0e0e0e;
}
.TopBar .Brand {
  height: 70px;
  width: 240px;
  line-height: 70px;
  position: fixed;
  font-size: 28px;
  background: #2d2d2d;
  display: inline-block;
  border-bottom: 0.5px solid #e0e0e0 !important;
  color: #f2f2f2;
  cursor: default;
  user-select: none;
  text-align: center;
  z-index: 999;
}
.TopBar .MenuOptions {
  display: block;
  margin-left: 240px;
  width: auto;
  height: 70px;
  font-size: 23px;
  overflow: hidden;
}
.TopBar .MenuOptions .Opt {
  display: inline-block;
  height: 100%;
  width: auto;
  padding: 0px 22px;
  color: #3e3e3e;
  font-size: 22px;
  border-right: 0.5px solid #dadada;
  border-bottom: 0.5px solid #e0e0e0 !important;
  margin-right: -7px;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
  overflow: hidden;
}
.TopBar .MenuOptions .Opt span {
  text-align: center;
  height: 25px;
  display: block;
  font-size: 25px;
  line-height: 35px;
}
.TopBar .MenuOptions .Opt:hover {
  background: #e2e2e2;
  border-bottom: 0.5px solid #e0e0e0 !important;
}
/*  */
.Wrapper {
  width: 100%;
  height: auto;
  padding: 90px 10px 50px 10px;
  overflow-x: hidden;
  display: block;
}
.StatBar {
  height: auto;
  width: 100%;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 10px;
  background: #292929;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #f2f2f2;
}
.StatBar .StatContent {
  width: 95%;
  margin: 0 auto;
}
.StatBar .StatContent .StatBox {
  height: 80px;
  width: 100%;
  background: #333333;
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}
.StatBar .StatContent .StatBox .Icon {
  display: inline-block;
  height: 100%;
  width: 30%;
  float: right;
  text-align: center;
  font-size: 35px;
  line-height: 80px;
  background: #232323;
}
.StatBar .StatContent .StatBox .Stat {
  height: 50px;
  width: 70%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  line-height: 50px;
  text-align: center;
  font-size: 28px;
}
.StatBar .StatContent .StatBox .Text {
  height: 30px;
  width: 70%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  padding-top: 45px;
}
.StatBar .StatContent .StatBox .Text b {
  font-weight: 700;
}
.StatBar .StatContent .StatBox-LG {
  height: 170px;
  width: 100%;
  background: #333333;
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}
.LoginWrapper {
  background:url("../img/login_bg.jpg");
  height: 100vh;
  width: 100%;
}
.LoginPane {
  background-color: #2d2d2d;
  width: 300px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 0.5px 0.5px 0.5px 0.5px #1d1d1d;
}
.LoginPane .Logo {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.LoginPane .Logo img {
  max-width: 160px;
  max-height: 160px;
}
.LoginPane .LoginForm {
  padding: 20px;
  color: #fff;
}
.LoginPane .LoginForm hr {
  background: #646464;
}
/* Bootstrap Controls */
.LoginForm_B[type="email"], .LoginForm_B[type="password"] {
  border-left: 0.1px solid #efefef;
  border-radius: 0;
}
.LoginForm_B[type="email"]::placeholder, .LoginForm_B[type="password"]::placeholder {
  color: inherit;
}
.dark {
  background: #424242;
  color: #dcdcdc;
  border-left: 0.2px solid #484848;
  border-right: 0.2px solid #484848;
  border-top: 0.2px solid #484848;
  border-bottom:0.2px solid #484848;
}
.NotificationPane {
  height: 500px;
  width: 300px;
  background: #424242;
  position: fixed;
  z-index: 1000;
  right: 0;
  bottom: 25px;
  border-left: 0.2px solid #484848;
  border-right: 0.2px solid #484848;
  border-top: 0.2px solid #484848;
}
.NotificationPane .Wrapper {
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow-y: auto;
}
.Box {
  width: 100%;
  height: auto;
  background: #fff;
  border: 0.5px solid #ececec;
  margin-bottom: 10px;
}
.Box .Title {
  width: 100%;
  height: 58px;
  line-height: 50px;
  font-size: 20px;
  color: #f2f2f2;
  background: #232323;
  padding: 0px 10px;
}
.Box .Body {
  background: #fff;
  padding: 5px;
  font-weight: 400;
  overflow-x: hidden;

}
.Box .ButtonHolder {
  width: auto;
  float: right;
}
.Box .Button {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
}
.Box .Button:hover {
  background: #484848;
}
.TopBar .mobile-opt {
  display: none;
  height: 100%;
  width: auto;
  padding: 0px 22px;
  color: #3e3e3e;
  font-size: 22px;
  border-right: 0.5px solid #dadada;
  border-bottom: 0.5px solid #e0e0e0 !important;
  margin-right: -7px;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
  overflow: hidden;
}
.card {
  font-weight: 400;
  margin-bottom: 10px !important;
}
.container {
  padding-top: 10px;
}
/* RESPONSE 700px */
@media only screen and (max-width: 800px) {
  .TopBar .mobile-opt {
    display: block;
    height: 70px;
    margin-left: 240px;
    width: auto;
    padding: 0px 22px;
    color: #3e3e3e;
    border-right: 0.5px solid #dadada;
    border-bottom: 0.5px solid #e0e0e0 !important;
    margin-right: -7px;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    overflow: hidden;
    font-size: 23px;
  }
  .TopBar .mobile-opt span {
    text-align: center;
    height: 25px;
    display: block;
    font-size: 25px;
    line-height: 35px;
  }
  .TopBar .mobile-opt:hover {
    background: #e2e2e2;
    border-bottom: 0.5px solid #e0e0e0 !important;
  }
  .TopBar .MenuOptions {
    display: none;
    margin-left: 0;
    width: 100%;
    min-height: 70px;
    font-size: 23px;
  }
  .TopBar .MenuOptions .Opt {
    display: block;
    height: auto;
    width: 100%;
    padding: 0px 22px;
    color: #3e3e3e;
    font-size: 22px;
    border-right: 0.5px solid #dadada;
    border-bottom: 0.5px solid #e0e0e0 !important;
    margin-right: -7px;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    overflow: hidden;
  }
  .card {
    font-weight: 400;
    margin-bottom: 10px !important;
  }
}
