@media print
{
    #pager,
    form,
    .no-print
    {
        display: inherit !important;
        height: 0;
    }
    .no-print, .no-print *{
        display: inherit !important;
        height: 0;
    }
    #no-print
    {
        display: none !important;
        height: 0;
    }
    #no-print, #no-print *{
        display: inherit !important;
        height: 0;
    }
}
